<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jieleo.projecta">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_about"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/StartTheme">
        <activity android:name=".activity.FirstStartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.WebActivity" />
        <activity android:name=".activity.GiftDetailsActivity" />
        <activity android:name=".activity.GiftDetailsTaoBaoActivity" />
        <activity android:name=".activity.SingleListDetailsActivity" />
        <activity android:name=".activity.StrategyDetailsActivity"></activity>
    </application>

</manifest>